{% load static%}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css.map' %}" rel="stylesheet">

<style>
  
        body {
            background-color: #FFCCBC;
        } 
        
        .container{
            margin-top:40px;
            margin-bottom:40px;
        }

        img {
            width: 100%;
        }

        .card-title {
            justify-content: space-between;
            margin-top: 25px;
        }

        .register {
            font-size: 10px;
            position: relative;
            bottom: 5px;
        }

        .cvc {
            width: 2.5em;
            position: absolute;
        }

        input {
            border: none;
            padding-left: 4px;
            background-color: #f7f1f1;
            font-size: 15px;
        }

        .card-body {
            background-color: #f7f1f1;
        }

        .footer {
            background-color: #00BCD4;
            color: white;
        }

        .footer:hover {
            cursor: pointer;
            background-color: #0097A7;
        }

        .numbr {
            border-bottom: 1px solid #c1bcbc;
            padding-bottom: 8px;
        }

        .line2 {
            border-bottom: 1px solid #c1bcbc;
            padding-bottom: 8px;
            padding-left: 0px;
        }

        input.focus,
        input:focus {
            outline: 0;
            box-shadow: none !important;
        }

        .numbr.numbr.hover,
        .numbr:hover {
            border-bottom: 1px solid aqua;
        }

        .line2.hover,
        .line2:hover {
            border-bottom: 1px solid aqua;
        }

        .fa-lock {
            margin-right: 10px;
        }

        .order {
            margin-top: 10px;
        }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<body>
<div class='container'>
  <div class="card mx-auto col-md-5 col-8 mt-3 p-0">
      <img class='mx-auto pic'
          src="{% static 'img/logo.jpeg'%}"/>
      <div class="card-title d-flex px-4">
          <p class="item text-muted">Your Total</p>
          <p>Rs:{{final_price}}</p>
      </div>
      <form method="post" action="cod">
      <div class="card-title d-flex px-4 ">
        <p class="item text-muted">Cash On Delivery</p><br>
        <input type="hidden" name="orderid" value="{{orderId}}">
        <button class="btn btn-primary" type="submit" >Conform the order</button>

    </div>
</form>
    <p style="text-align: center;">or</p>
    <div class="card-title d-flex px-4">
        <p class="item text-muted">Online Payment</p>
        <button class="btn btn-primary"  id="rzp-button1">Continue</button>
    </div>
  </div>

</div>
  </div>

</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.7.2/css/all.css"></script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var options = {
    "key": "{{razorpay_merchant_id}}", // Enter the Key ID generated from the Dashboard
    "amount": "{% widthratio final_price 1 100 %}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Go4food",
    "description": "Test Transaction",
    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "{{callback_url}}",
    "prefill": {
      "name": "{{user.name}}",
      "email": "{{user.email}}",
      "contact": "+91" + "{{user.number}}"
    },
    "theme": {
      "color": "#2BA977"
    }
  };
  var rzp1 = new Razorpay(options);
  document.getElementById('rzp-button1').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
  }
</script>